body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jacketAttr { 
  background-color: aquamarine; 
  width: 120px; 
}

.jacketAttr{
  background-color: red;
  width: 200px;
  margin: 5px;
  text-align: center;
  color: green;
  padding: 10px;
  border-radius: 5px;
  }
  .Title{
  color: navajowhite;
  font-weight: 500;
  font-family: sans-serif;
  }